<table
	width="100%%"
	border="0"
	cellspacing="20"
	cellpadding="0"
	style=" max-width: 600px; border-radius: 10px; margin: auto;background: #ffffff"
>
	<tbody>
	<tr>
		<td
			align="center"
			style="
					padding: 10px 0;
					color: #444444;
					font-family: Helvetica, Arial, sans-serif;
					font-size: 22px;
				"
		>
			Регистрация на <strong>{{.FrontURL}}</strong>
		</td>
	</tr>
	<tr>
		<td
			align="center"
			style="padding: 20px 0"
		>
			<table
				border="0"
				cellspacing="0"
				cellpadding="0"
			>
				<tbody>
				<tr>
					<td
						align="center"
						style="border-radius: 3px"
						bgcolor="#1976D2"
					>
						<a
							href="{{.FrontConfirmationRegistrationURL}}?token={{.Token}}"
							target="_blank"
							style="
										display: inline-block;
										padding: 10px 20px;
										border: 1px solid #1976d2;
										border-radius: 3px;
										color: #ffffff;
										font-family: Helvetica, Arial, sans-serif;
										font-size: 18px;
										font-weight: bold;
										text-decoration: none;
									"
							rel="noopener noreferrer"
						>
							Подтвердить регистрацию
						</a>
					</td>
				</tr>
				</tbody>
			</table>
		</td>
	</tr>
	<tr>
		<td
			align="center"
			style="
					padding: 0 0 10px;
					color: #444444;
					font-family: Helvetica, Arial, sans-serif;
					font-size: 16px;
					line-height: 22px;
				"
		>
			Если вы не отправляли заявку на регистрацию, игнорируйте сообщение.
		</td>
	</tr>
	</tbody>
</table>
